@model Kupanga.Models.EmployeeAccessViewModel
@{
    ViewBag.Title = "Index";
}

<br />
<div class="row">
    <div class="col-lg-6" style="height: 600px">
        <div class="well" style="height: 50%">
            @Html.Partial("PartialViews/_UnhandledQuotes")
        </div>
        <div class="well" style="height: 50%">

        </div>
    </div>
    <div class="col-lg-6" style="height: 620px">
        <div class="well" style="height: 100%">
        </div>
    </div>
</div>
