@{
	ViewBag.Title = "About";
}
<style>
	.centered {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.center-pills {
		display: inline-block;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<img style="width:100%;height:200px;" src="~/Content/Images/D. About/aboutTitle.jpg" alt="One Story Homes">
		<div class="centered"><h1 style="color:white;font-family:cortado;">KUPANGA MAKES IT EASY</h1></div>
	</div>
</div>
<br />
<div class="col-md-8">
	<h1>What Kupanga is About</h1>
	<h4 style="line-height: 30px;">Kupanga strives to provide a lasting experience that outshines competitors. We achived this by creating our website with you in mind. From our 3 easy steps, to our status button, we have simplicity and efficiency as our top priority.  </h4>
	<h1>The Origin of Kupanga</h1>
	<h4 style="line-height: 30px;">Everything started in January of 2018 as a school project, little did we know what kind of impact it would have on the community. We had 4 networking students, 2 programming students, and a digital media student create what may be the next Amazon for homes.</h4>
	<h1>What Does Kupanga Mean?</h1>
	<h4 style="line-height: 30px;">Kupanga is a translation from Swahili, meaning arrange or plan. What Kupanga means to our customers is simplicity, efficiency, and satisfaction. </h4>
</div>
<div class="col-md-4 text-center">
	<br />
	<img src="~/Content/Images/D. About/Kupanga Homes Logo Test.jpg" alt="Choose.jpg" style="height:200px;width:200px">
</div>
<address>
	One Microsoft Way<br />
	Redmond, WA 98052-6399<br />
	<abbr title="Phone">P:</abbr>
	425.555.0100
</address>

<address>
	<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

