@{
	ViewBag.Title = "About";
}
<style>
	.centered {
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.center-pills {
		display: inline-block;
	}
</style>
<div class="row">
	<div class="col-md-12">
		<img style="width:100%;height:200px;" src="~/Content/Images/D. About/aboutTitle.jpg" alt="One Story Homes">
		<div class="centered"><h1 style="color:white;font-family:cortado;">KUPANGA MAKES IT EASY</h1></div>
	</div>
</div>
<br />
<div class="col-md-12 text-center">
	<ul class="nav nav-pills center-pills">
		<li class="active">@Html.ActionLink("About", "About", "Home")</li>
		<li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
		<li>@Html.ActionLink("Feedback", "Feedback", "Home")</li>
	</ul>
</div>
<br />
<div class="col-md-6">
	<p>Use this area to provide additional information. Testing</p>
</div>
<div class="col-md-6 text-center">
	<h2>Jared Baker</h2>
	<img src="~/Content/Images/D. About/jared.jpg" alt="Choose.jpg" class="img-circle" style="height:200px;width:200px">
	<p>The backbone of this operation, most of this website wouldn't be possible without this handsome fellow. Sorry ladies, he's engaged!</p>
</div>

