@using Microsoft.AspNet.Identity;
@model Kupanga.Models.EmployeeAccessViewModel

<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Home
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.SubmittedQuotes)
    {
        if (item.HandledBy == User.Identity.GetUserId() && item.Status == 2)
        {
            <tr>
                <td>
                    <span>@item.ContactFirstName</span>
                </td>
                <td>
                    <span>@item.ContactLastName</span>
                </td>
                <td>
                    <span>@item.Home.HomeName</span>
                </td>
                <td>
                    <input type="button" data-toggle="modal" data-target="#QuoteDetailsModal" onclick="viewDetails(@item.QuoteId)" value="Details" />
                </td>
            </tr>
            }
    }

</table>




