@using Microsoft.AspNet.Identity;
@model Kupanga.Models.EmployeeAccessViewModel

<select></select>
<table class="table">
    <tr>
        <th>
            Component Name
        </th>
        <th>
            Price/item
        </th>
        <th>@Html.ActionLink("Create New Component","CreateComponent")</th>
    </tr>

    @foreach (var item in Model.Components)
    {
        <tr>
            <td>
                <span>@item.ComponentName</span>
            </td>
            <td>
                <span>@item.ComponentPrice.ToString("C")</span>
            </td>
            <td>
                <span>@Html.ActionLink("Edit", "EditComponent", new { id = item.ComponentId })</span>
            </td>
        </tr>
    }

</table>




